/* font family */

@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e9ebec;
    background-image: linear-gradient(315deg #b8c6db 0%, #beffbe 100%);
    font-family:'Poppins', sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-container{
    .quiz-container{
        background-color: #ffff;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px rgba(100 100 100 0.1);
        width: 600px;
        overflow: hidden;
    }
}